<nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar_left">
        <a class="navbar-brand menu_icon">
          <span class="material-icons md-36"  (click) = "openFromChild()">
            {{openNav ? 'menu_open' : 'menu'}}
          </span>
       </a>
       <div class="nav_search_bar">
          <span class="material-icons">
            search
          </span>
          <input type="search" placeholder="Search keywords...">
       </div>
      </div>
      <div class="navbar_right">
        <div class="icon_links" id="icon_links">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item admin_notification">
              <a class="nav-link active" id="ddMenuNotification" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="badge badge-danger navbar-badge">3</span>
                <span class="material-icons">
                  notifications_active
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ddMenuNotification">
                <div class="dropdown-title">
                  Notifications
                </div>
                <div class="dropdown-item">
                  <a href="#">This is a test notification</a>
                </div>
                <div class="dropdown-item">
                  <a href="#">This is another test notification</a>
                </div>
                <div class="dropdown-item">
                  <a href="#">Yet another test notification</a>
                </div>
                 
              </div>
            </li>
            <li class="nav-item admin_userprofile dropdown">
              <a class="nav-link" id="profileMenuButton" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img_profile.png">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenuButton">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" (click)="signout()">Sign Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </nav>