<!--.page-item-entry START-->
<div class="sidebar-item">
    <div class="sidebar-entry-heading">
        <h3>{{itemTitle}}</h3>
    </div><!--.page-entry-heading ends-->
    <div class="sidebar-item-entry">

      <!--.list-item START-->
    <div class="list-item">
      <div class="list-item-title">
        <h5>Registered Users</h5>
      </div>
      <div class="list-item-entry">
        <p>
            12
        </p>
      </div>
  </div>
  <!--.list-item END-->

      <!--.list-item START-->
      <div class="list-item">
          <div class="list-item-title">
            <h5>Total Users</h5>
          </div>
          <div class="list-item-entry">
            <p>
                12
            </p>
          </div>
      </div>
      <!--.list-item END-->
      <!--.list-item START-->
      <div class="list-item">
        <div class="list-item-title">
          <h5>Active Users</h5>
        </div>
        <div class="list-item-entry">
          <p>
              12
          </p>
        </div>
    </div>
    <!--.list-item END-->
    <!--.list-item START-->
    <div class="list-item">
      <div class="list-item-title">
        <h5>Total Applications</h5>
      </div>
      <div class="list-item-entry">
        <p>
            5
        </p>
      </div>
  </div>
  <!--.list-item END-->
  

    </div><!--.page-entry-heading ends-->
  </div>
  <!--.page-item END-->