<!-- Create Modal START -->
<div
class="modal fade"
id="newDaily"
tabindex="-1"
role="dialog"
aria-labelledby="newDailyLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header text-center">
          <h5 class="modal-title">New Daily Horoscope for <span class="highlight">{{selected_date | date}}</span></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!--.modal-header ends-->

      <div *ngIf="submitted" class="submitted">
          <div class="alert alert-success text-center" role="alert">
              <p>New Sign Created Successfully!</p>
          </div>
      </div>

    <form [formGroup]="addDailyForm" (ngSubmit)="addDaily()">
      <div class="modal-body">

        <div class="row mid-title">
            <div class="col">
                <h3>Select Sign</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
              
              <div ngbDropdown class="d-inline-block">
                <a id="selectSignImage" ngbDropdownToggle> {{selectedSignId || 'Select Sign' }} <img [src]="selectedSignImage"></a>
                <div ngbDropdownMenu aria-labelledby="selectSignImage">
                  <button *ngFor="let sign of allSigns"  ngbDropdownItem (click)="signselector(sign.id,sign.horoscopeImagePath)"> 
                    {{sign.horoscopeNameEnglish +' - ' + sign.horoscopeNameNepali}}
                  </button>
                  
                </div>
              </div>


            </div>
        </div>
        <div class="row mid-title">
          <div class="col">
              <h3>English</h3>
          </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <input
              name="HoroscopeNameEnglish"
              type="text"
              class="form-control"
              id="HoroscopeNameEnglish"
              formControlName="HoroscopeNameEnglish"
              placeholder="Title in English"
            />
          </div>
          <div class="col-md-6">
            <input
              name="HoroscopeSubTitleEnglish"
              type="text"
              class="form-control"
              id="HoroscopeSubTitleEnglish"
              formControlName="HoroscopeSubTitleEnglish"
              placeholder="Subtitle in English"
            />
          </div>
        </div>
        <div class="row mid-title">
          <div class="col">
              <h3>Nepali</h3>
          </div>
      </div>
        <div class="row">
          
            <div class="col-md-6">
              
              <input
                name="HoroscopeNameNepali"
                type="text"
                class="form-control"
                id="HoroscopeNameNepali"
                formControlName="HoroscopeNameNepali"
                placeholder="Title in Nepali"
              />
            </div>
            <div class="col-md-6">
              
              <input
                name="HoroscopeSubTitleNepali"
                type="text"
                class="form-control"
                id="HoroscopeSubTitleNepali"
                formControlName="HoroscopeSubTitleNepali"
                placeholder="Subtitle in Nepali"
              />
            </div>
          </div>

          <div class="row mid-title">
            <div class="col">
                <h3>Add Symbol</h3>
            </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button
          type="reset"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          [disabled]="addDailyForm.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Add
        </button>
      </div>
    </form>
  </div>
  <!--.modal-content ends-->
</div>
</div>
<!-- Create Modal END-->