<!--.page-item-entry START-->
<div class="page-item">
    <div class="page-entry-heading">
        <h3>{{itemTitle}}</h3>
    </div><!--.page-entry-heading ends-->
    <div class="page-item-entry text-center">
      <div class="row">
        <div class="col-sm">
          <div class="cpanel-item-image">
            <a [routerLink]= "'\horoscope'"> 
              <img src="assets/cpanel-icons/1.png" rel="Horroscope">  
            </a>
          </div>
          <div class="cpanel-item-title">
            <a [routerLink]= "'\horoscope'"> Horroscope </a>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="cpanel-item-image">
            <a [routerLink]= "'/'"> 
              <img src="assets/cpanel-icons/8.png" rel="Expense Manager">  
            </a>
          </div>
          <div class="cpanel-item-title">
            <a href="/"> Expense Manager </a>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="cpanel-item-image">
            <a [routerLink]= "'/'"> 
              <img src="assets/cpanel-icons/5.png" rel="User Management">  
            </a>
          </div>
          <div class="cpanel-item-title">
            <a href="/"> User Management </a>
          </div>
          
        </div>
        <div class="col-sm">
          <div class="cpanel-item-image">
            <a [routerLink]= "'/'"> 
              <img src="assets/cpanel-icons/4.png" rel="Settingst">  
            </a>
          </div>
          <div class="cpanel-item-title">
            <a href="/"> Settings </a>
          </div>
        
        </div>
      </div>
    </div><!--.page-entry-heading ends-->
  </div>
  <!--.page-item END-->
