<um-nav></um-nav>

<div *ngIf="_router.url === '/user-management'" class="horroscope-dashboard">
  <div class="page-item">
    <div class="page-entry-heading">
      <h3>All Users</h3>
      <a class="refresh_users" (click)="listAllUsers()">
        <span class="material-icons-outlined">
          loop
          </span>
      </a>
      <a
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#addUserModal"
      >
        + Add User</a
      >
    </div>
    <!--.page-entry-heading ends-->

    <div class="page-item-entry text-center">
      <div *ngIf="loader" class="loader">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <!-- Data Tables START -->
      <table class="table table-mid-content table-bordered">
        <thead>
          <tr>
            <th scope="col" width="25%">Avatar</th>
            <th scope="col" width="25%">Full Name</th>
            <th scope="col" width="10%">Username</th>
            <th scope="col" width="15%">Mobile</th>
            <th scope="col" width="20%">Role</th>
            <th scope="col" width="25%">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of allUsers | paginate: { itemsPerPage: 10, currentPage: page} " [ngClass]="(user.isActive)?' ':'alert alert-danger'">
            <td><img width="75" src="{{baseUrl+user.profileImagePath}}"></td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.mobileNumber }}</td>
            <td>{{ user.roles }}</td>
            <td>
              <a
                class="btn btn-icon btn-icon-edit"
                data-toggle="modal"
                data-target="#editUserModal"
                (click)="editUser.assignUserData(user.id)"
  > 
                <span class="material-icons"> edit </span>
              </a>
              <button [disabled]= "!user.isActive" 
                class="btn btn-icon btn-icon-view"
                data-toggle="modal"
                data-target="#deleteUserModal"
                (click)="deleteUser.deleteUser(user.id)"
              >
                <span class="material-icons"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Data Tables END -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <!--.page-entry-heading ends-->
  </div>
  <!--.page-item END-->
</div>


<router-outlet></router-outlet>


<dialog-create-user #createUser [allRoleLists] ="allRoleLists" (listAllUsers)="listAllUsers()"></dialog-create-user>
<dialog-edit-user #editUser [allRoleLists] ="allRoleLists" ></dialog-edit-user> 
<dialog-delete-user #deleteUser></dialog-delete-user>



