<div class="horroscope-dashboard">
  <div class="page-item">
    <div class="page-entry-heading">
      <h3>Weekly Horoscope</h3>
      <a
        (click)="newWeekly.assignAllSigns()"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#newWeekly"
        >+ New Weekly</a
      >
    </div>
    <!--.page-entry-heading ends-->

    <div class="page-item-entry text-center">
      <div class="row date-picker mb-3">
        <div class="col-4 text-left">
          <div class="form-group">
            <div class="input-group">
              <input
                (ngModelChange)="dateChanged($event)"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="selected_date"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <a (click)="d.toggle()">
                  <span class="material-icons"> today </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 text-right">
          <strong>{{ weekTitle }} :</strong>
          <span class="selected_dates">
            {{ selectedRange }}
          </span>

          <!--form-group end-->
        </div>
      </div>
      <!--.date-picker ends-->

      <table class="table table-striped table-mid-content">
        <thead>
          <tr>
            <th scope="col" width="20%">Sign</th>
            <th scope="col" width="30%">Nepali</th>
            <th scope="col" width="30%">English</th>
            <th scope="col" width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of allweekly">
            <td>
              <img width="80" src="{{ baseUrl + week.horoscopeImagePath }}" class="img-fluid">
              <span class="sign_title">
                {{week.horoscopeNameNepali + '-' + week.horoscopeNameEnglish}}
              </span>
            
            </td>
            <td [innerHTML]="week.horoscopeDescriptionNepali"></td>
            <td [innerHTML]="week.horoscopeDescriptionEnglish"></td>
            <td>
              <a
                class="btn btn-icon btn-icon-edit"
                data-toggle="modal"
                data-target="#editWeekly"
                (click)="editWeekly.assignAll(week.id)"
              >
                <span class="material-icons"> edit </span>
              </a>

              <a
                class="btn btn-icon btn-icon-view"
                data-toggle="modal"
                data-target="#deleteWeekly"
                (click)="deleteWeekly.assignAll(week.id)"
              >
                <span class="material-icons"> delete </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--.page-entry-heading ends-->
  </div>
  <!--.page-item END-->
</div>

<dialog-new-weekly
  #newWeekly
  [selected_date]="selected_date"
  [selected_week]="selectedRange"
  (getWeeklyByDate)="getWeeklyByDate()"
  (openSnackBar)="openSnackBar($event)"
></dialog-new-weekly>

<dialog-edit-weekly
  #editWeekly
  [selected_date]="selected_date"
  [selected_week]="selectedRange"
  (getWeeklyByDate)="getWeeklyByDate()"
  (openSnackBar)="openSnackBar($event)"
></dialog-edit-weekly>

<dialog-delete-weekly
  #deleteWeekly
  (getWeeklyByDate)="getWeeklyByDate()"
  (openSnackBar)="openSnackBar($event)"
>
</dialog-delete-weekly>
