<!-- Create Modal START -->
<div
class="modal fade"
id="editSign"
tabindex="-1"
role="dialog"
aria-labelledby="editSignLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header text-center">
          <h5 class="modal-title">Update Zodiac Sign</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!--.modal-header ends-->

      <div *ngIf="submitted" class="submitted">
          <div class="alert alert-success text-center" role="alert">
              <p>New Sign Updated Successfully!</p>
          </div>
      </div>

    <form [formGroup]="editSignForm" (ngSubmit)="editSign()">
      
      <div class="modal-body">
        <div class="row mid-title">
            <div class="col">
                <h3>English</h3>
            </div>
        </div>
       
        <div class="row">
          
          <div class="col-md-6">
            <input
              name="HoroscopeNameEnglish"
              type="text"
              class="form-control"
              id="HoroscopeNameEnglish"
              formControlName="HoroscopeNameEnglish"
              placeholder="Title in English"
            />
          </div>
          <div class="col-md-6">
            
            <input
              name="HoroscopeSubTitleEnglish"
              type="text"
              class="form-control"
              id="HoroscopeSubTitleEnglish"
              formControlName="HoroscopeSubTitleEnglish"
              placeholder="Subtitle in English"
            />
          </div>
        </div>
        <div class="row mid-title">
            <div class="col">
                <h3>Nepali</h3>
            </div>
        </div>
        
        <div class="row">
          
            <div class="col-md-6">
              
              <input
                name="HoroscopeNameNepali"
                type="text"
                class="form-control"
                id="HoroscopeNameNepali"
                formControlName="HoroscopeNameNepali"
                placeholder="Title in Nepali"
              />
            </div>
            <div class="col-md-6">
              
              <input
                name="HoroscopeSubTitleNepali"
                type="text"
                class="form-control"
                id="HoroscopeSubTitleNepali"
                formControlName="HoroscopeSubTitleNepali"
                placeholder="Subtitle in Nepali"
              />
            </div>
          </div>

        <div class="row align-items-center mt-4">
            <div class="col-4">
                <div *ngIf="!!selectedSign.horoscopeImagePath" class="symbol_image">
                    <img src="{{ symbolPath}}">
                </div>
            </div>
          <div class="col-8">
              
            <label for="inputImage" class="form-label">Add Symbol</label>
            <input
              name="image"
              type="file"
              class="form-control"
              id="inputImage"
              (change)="uploadFile($event)"
              formControlName="image"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="reset"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          [disabled]="editSignForm.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Update
        </button>
      </div>
    </form>
  </div>
  <!--.modal-content ends-->
</div>
</div>
<!-- Create Modal END-->