<div class="page">
  <div class="page-heading">
      <h1>Control Panel</h1>
  </div>
  <div class="page-entry text-center">
    <div class="row">
      <div class="col-sm">
        <a [routerLink]= "'\horoscope'"> Horroscope </a>
      </div>
      <div class="col-sm">
        <a href="/"> Expense Management </a>
      </div>
      <div class="col-sm">
        <a href="/"> User Management </a>
      </div>
      <div class="col-sm">
        <a href="/"> Settings </a>
      </div>
    </div>
  </div>
</div>


