<div [ngClass]="router.url === '/' ? 'page-cpanel' : 'no-cpanel'">
  <div
    #Sidenav
    id="mySidenav"
    class="sidenav"
    [ngClass]="openNav ? 'open' : ' '"
  >
    <div class="sideBrand">
      <a [routerLink]="'/'">
        <img src="assets/mypay-logo.png" />
      </a>
    </div>
    <sidemenu></sidemenu>
  </div>
  <!--#mySidenav ends-->

  <div
    id="main"
    class="openNav"
    [ngClass]=" openNav ? 'main-opennav' : ' '"
  >
    <nav-menu [openNav]="openNav" (openSideNavFromChild)="toggleSideNav()">
    </nav-menu>
    <div class="breadcrumbs">
      <bj-breadcrumbs></bj-breadcrumbs>
    </div>

    <div *ngIf="router.url === '/'" class="cpanel container-fluid">
      <div class="row">
        <div class="col-8">
          <recently-used itemTitle="Recently Used"></recently-used>
          <recently-used itemTitle="Apps"></recently-used>
          <recently-used itemTitle="Preferences"></recently-used>
        </div>
        <!--.col ends-->
        <div class="col-4">
          <sidebar-item itemTitle="General Information"></sidebar-item>
          <sidebar-item itemTitle="Statistics"></sidebar-item>
        </div>
        <!--.col ends-->
      </div>
      <!--.row ends-->
    </div>
    <!--.Cpanel Ends-->
    <div [ngClass]="router.url === '/login' ? '' : 'content'">
      <router-outlet> </router-outlet>
    </div>
  </div>
  <!--#main ends-->
</div>
