
.login-wrap{
    display: flex;
    width: 800px;
    margin: 40px auto 0;
    font-size: 14px;
}
.login-left,
.login-right{
    flex: 1;
}
.login-left img{
    width: 100%;
}
.login-right{
    background: #fff;
    padding: 30px;
}
.login-page{
    width: 100%;
}
.login-brand{
    margin-bottom: 20px;
}
.login-brand img{
    max-width: 130px;
}




.remember-forgot-wrap{
    display: flex;
    justify-content: space-between;
}

.err_msg{
    color: red;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

