<!--
  Horoscope Dashboard
-->
<top-nav></top-nav>

<div *ngIf="router.url === '/horoscope'" class="horroscope-dashboard">
  <div class="page-item">
    <div class="page-entry-heading">
      <h3>Horoscope Management</h3>
      <a class="btn btn-primary" data-toggle="modal" data-target="#createSign">+ New Sign</a>
    </div>
    <!--.page-entry-heading ends-->

    <div class="page-item-entry text-center">
      <div *ngIf="loader" class="loader">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>



      <table class="table table-striped table-mid-content">
        <thead>
          <tr>

            <th scope="col">Image</th>
            <th scope="col">Nepali Title</th>
            <th scope="col">English Title</th>
            <th scope="col">Nepali Subtitle</th>
            <th scope="col">English Subtitle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <!---Test Drag #Start-->
        <tbody cdkDropList #todoList="cdkDropList" [cdkDropListData]="allsigns" class="example-list"
          (cdkDropListDropped)="drop($event)">

          <tr class="grabbable" *ngFor="let sign of allsigns" cdkDrag>

            <td>
              <img [src]="baseUrl+sign.horoscopeImagePath" class="mr-2" style="width: 60px">
            </td>
            <td>
              {{sign.horoscopeNameNepali}}
            </td>
            <td>
              {{sign.horoscopeNameEnglish}}
            </td>
            <td>
              {{sign.horoscopeSubTitleNepali}}
            </td>
            <td>
              {{sign.horoscopeSubTitleEnglish}}
            </td>

            <td>
              <a (click)="editSign.assignSign(sign.id)" class="btn btn-icon btn-icon-edit" data-toggle="modal"
                data-target="#editSign">
                <span class="material-icons">
                  edit
                </span>
              </a>
              <a (click)="deleteSign.assignId(sign.id)" class="btn btn-icon btn-icon-view" data-toggle="modal"
                data-target="#deleteSign">
                <span class="material-icons">
                  delete
                </span>
              </a>
            </td>
          </tr>

        </tbody>
        <!---Test Drag #END-->
      </table>




    </div>
    <!--.page-entry-heading ends-->
  </div>
  <!--.page-item END-->

  <dialog-create-sign #newSign (getAllSigns)="getAllSigns()" (openSnackBar)="openSnackBar($event)"></dialog-create-sign>
  <dialog-edit-sign #editSign (getAllSigns)="getAllSigns()" (openSnackBar)="openSnackBar($event)"></dialog-edit-sign>
  <dialog-delete-sign #deleteSign (getAllSigns)="getAllSigns()" (openSnackBar)="openSnackBar($event)">
  </dialog-delete-sign>
</div>

<router-outlet></router-outlet>