<!-- Modal Change Password START -->
<div class="modal fade" id="resetPasswordUserModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordUserModalLabel">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-notice">
            <h5 class="title">Notice</h5>
            <ul>
              <li>
                Minimum length of password is 6.
              </li>
            </ul>
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="row">
                <div class="col">
                    <label>New Password:</label>
                  <div class="form-group">
                    <input
                      id="rpassword"
                      type="password"
                      class="form-control"
                      name="rpassword"
                      placeholder="Enter New Password"
                      formControlName="rpassword"
                    />
                    <small
                      *ngIf="rpassword && rpassword.invalid && rpassword.touched"
                      class="err_msg"
                    >
                      Please enter valid password.
                    </small>
                  </div>
                </div>
            </div>
            <!--.row ends-->

            <div class="row">
                <div class="col">
                    <label>Confirm Password:</label>
                  <div class="form-group">
                    <input
                      id="rconfirmPassword"
                      type="password"
                      class="form-control"
                      name="rconfirmPassword"
                      placeholder="Confirm Password"
                      formControlName="rconfirmPassword"
                    />
                    <small
                      *ngIf="rconfirmPassword && rconfirmPassword.invalid && rconfirmPassword.touched"
                      class="err_msg"
                    >
                      Please enter valid password.
                    </small>
                  </div>
                </div>
            </div>
            <!--.row ends-->

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Change Password</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
 <!-- Modal Change Password END -->
