<div class="horroscope-dashboard">
    <div class="page-item">
      <div class="page-entry-heading">
        <h3>All Roles</h3>
        <a class="btn btn-primary" data-toggle="modal" data-target="#addUserModal"> + Add Role</a>
      </div>
      <!--.page-entry-heading ends-->
  
      <div class="page-item-entry text-center">
        
        <!-- Data Tables START -->
        <table class="table table-striped table-mid-content w-50 table-bordered" >
          <thead>
          <tr>
            <th scope="col" width="10%">S.No.</th>
            <th scope="col" width="50%">Role Type</th>
            <th scope="col" width="40%">Action</th>
          </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let role of allRoles; let i = index">
              <td>{{i+1}}</td>
              <td>{{role.roleName}}</td>
              <td>
                <a class="btn btn-icon btn-icon-edit" data-toggle="modal" data-target="#editSignModal">
                  <span class="material-icons">
                    edit
                    </span>
                </a>
                <a class="btn btn-icon btn-icon-view" data-toggle="modal" data-target="#modal">
                  <span class="material-icons">
                    delete 
                  </span>
                </a>
              </td>
            </tr>
         
          </tbody>
        </table>
        <!-- Data Tables END -->
        
      </div>
      <!--.page-entry-heading ends-->
    </div>
    <!--.page-item END-->
  </div>