<div class="account-dashboard">
    <div class="row">
        <div class="col">
            <div class="whiteheader-item">
              <div class="wh-item-heading">
                <h3 class="title">Change Password</h3>
              </div>
              <div *ngIf="submitted" class="submitted">
                <div
                  class="alert text-center"
                  [ngClass]="submitted_success ? 'alert-success' : 'alert-danger'"
                  role="alert"
                >
                  <p>
                    {{ submitted_msg }}
                  </p>
                </div>
              </div>
              <div class="wh-item-entry">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    
                    <div class="row">
                        <div class="col">
                            <label>Current Password:</label>
                          <div class="form-group">
                            <input
                              id="currentPassword"
                              type="password"
                              class="form-control"
                              name="currentPassword"
                              placeholder="Enter Current Password"
                              formControlName="currentPassword"
                            />
                            <small
                              *ngIf="currentPassword && currentPassword.invalid && currentPassword.touched"
                              class="err_msg"
                            >
                              Please enter valid password.
                            </small>
                          </div>
                        </div>
                    </div>
                    <!--.row ends-->

                    <div class="row">
                        <div class="col">
                            <label>New Password:</label>
                          <div class="form-group">
                            <input
                              id="newPassword"
                              type="password"
                              class="form-control"
                              name="newPassword"
                              placeholder="Enter New Password"
                              formControlName="newPassword"
                            />
                            <small
                              *ngIf="newPassword && newPassword.invalid && newPassword.touched"
                              class="err_msg"
                            >
                              Please enter valid password.
                            </small>
                          </div>
                        </div>
                    </div>
                    <!--.row ends-->

                    <div class="row">
                        <div class="col">
                            <label>Confirm Password:</label>
                          <div class="form-group">
                            <input
                              id="confirmPassword"
                              type="password"
                              class="form-control"
                              name="confirmPassword"
                              placeholder="Confirm Password"
                              formControlName="confirmPassword"
                            />
                            <small
                              *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched"
                              class="err_msg"
                            >
                              Please enter valid password.
                            </small>
                          </div>
                        </div>
                    </div>
                    <!--.row ends-->

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change Password</button>
                        </div>
                    </div>

                </form>
                
              </div>
              </div>
              <!--.page-item END-->
        </div>
        <div class="col">
            <div class="noheader-item">
      
            </div>
              <!--.page-item END-->
        </div>
    </div>
</div>