.breadcrumb{
    font-size: 14px;
}
.breadcrumb li{
    padding-right: 18px;
    margin-right: 10px;
    position: relative;
}
.breadcrumb li::after{
    content: "/";
    position: absolute;
    right: 0;
    top: 0;
}
.breadcrumb li:last-child:after{
    display: none;
}
.breadcrumb li span{
    cursor: pointer;
}