/* You can add global styles to this file, and also import other style files */
:root{
  --primaryBg: #022335;
}
html, body { height: 100%; }
body { background: #f3f3f3; margin: 0; font-family: 'Poppins', sans-serif; }
img{
    max-width: 100%;
  }
.btn.btn-primary{
  background: var(--primaryBg);
  border: none;
  }
h1,h2,h3,h4,h5{
  font-weight: bold;
}
  .page-heading{
    margin-bottom: 30px;
  }
  .navbar{
    background: #fff;
  }
 
 
/*
Page Item Starts
*/
  .page-item{
    margin: 30px 0 20px;
}
.page-entry-heading{
    background: #E3E6EA;
    padding: 18px;
    position: relative;
}
.page-entry-heading .btn{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -18px;
}
.page-entry-heading h3{
    font-size: 18px;
    margin: 0;
}
.page-item-entry{
    background: #fff;
    padding: 50px 30px;
}
.page-item-entry a{
    text-decoration: none;
}