/* You can add global styles to this file, and also import other style files */
:root {
  --primaryBg: #022335;
}
html,
body {
  height: 100%;
}
body {
  background: #f3f3f3;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.table.table td{
  padding: 0.5rem;
  line-height: 20px;
  word-break: break-all;
  vertical-align: middle;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
p{
  margin: 8px 0;
}
.page-heading {
  margin-bottom: 30px;
}
.navbar {
  background: #fff;
}
.table.table-striped.table-mid-content th,
.table.table-striped.table-mid-content td {
  vertical-align: middle;
}
.alert-danger{
  background: #f7e5e7;
}
.grey_txt{
  color: #777
}
/***********************************
General Buttons Starts
**************************************/
.btn.btn-primary {
  background: var(--primaryBg);
  border: none;
}
.btn.btn-icon {
  border: none;
  margin: 0 3px;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
}
.btn.btn-icon-edit {
  background: linear-gradient(
    180deg,
    rgba(97, 124, 40, 0.65) 0%,
    rgba(51, 91, 10, 0.9) 100%
  );
}
.btn.btn-icon-view {
  background: linear-gradient(
    180deg,
    rgba(227, 9, 9, 0.65) 0%,
    rgba(134, 21, 21, 0.9) 100%
  );
}
.btn.btn-icon span {
  font-size: 16px;
  line-height: 30px;
  width: 100%;
}




/***********************************
Page Item Starts
**************************************/
#profileMenuButton{
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #eee;
}
.page-item {
  margin: 30px 0 20px;
}
.page-entry-heading {
  background: #e3e6ea;
  padding: 18px;
  position: relative;
}
.page-entry-heading .btn {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -18px;
}
.page-entry-heading h3 {
  font-size: 18px;
  margin: 0;
}
.page-item-entry {
  background: #fff;
  padding: 50px 30px;
}
.page-item-entry a {
  text-decoration: none;
}
.page-item-entry table{
  font-size: 14px;
  table-layout: fixed;
}
/***********************************
Default Form Stylings Starts
**************************************/
.form-group label{
  font-size: 14px;
  color: #979797;
}
.form-control{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
}
.form-control:focus{
  box-shadow: none;
  border-bottom: 1px solid #555;
}
.form-group .material-icons{
  color: #777;
  font-size: 20px;
  position: absolute;
  right: 25px;
  top: 10px;
}



/***********************************
Form Error Messages Starts
**************************************/

.err_msg {
  color: red;
  display: inline-block;
  line-height: 16px;
  margin: 7px 0;
}
input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

/***********************************
Bootstrap Modal 
**************************************/

body.modal-open.modal-open.modal-open {
  overflow: visible;
}
.modal-title{
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #022335;
}
.modal-body{
  padding: 40px;
}
.modal-body .row{
  padding-bottom: 20px;
}
.form-section-heading .title{
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
}


input[type="file"]{
  height: 45px;
}

.whiteheader-item{
  background: #FFFFFF;
  box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.wh-item-heading {
  padding: 14px 30px;
  border-bottom: 1px solid #E0E0E0;
}
.wh-item-heading .title{
  font-size: 18px;
  margin: 0;
}
.wh-item-entry{
  padding: 30px;
}


/***********************************
.horoscope-nav  starts
**************************************/

.horoscope-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: start;
}

.horoscope-nav li a{
  font-size: 14px;
  color: #000;
  display: inline-block;
  padding: 10px 30px;
}
.horoscope-nav li a:hover{
  text-decoration: none;
}
.horoscope-nav li.active a{
  background: #022335;
  color: #fff;
  border-radius: 4px;
}
.profile_image{
  width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.profile_image img{
  width: 100%;
  height: auto;
  cursor: pointer;
}
.sign_title{
  font-size: 12px;
  display: block;
  text-align: center;
}
/***********************************
MATDialog  starts
**************************************/
.dialog-header{
  position: relative;
  border-bottom: 1px solid #eee;
}
.mat-dialog-title.mat-dialog-title{
  margin: 0;
  padding: 10px 0;
}
.dialog-header button{
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-notice {
  padding: 10px 20px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  color: #777;
}
.modal-notice .title{
  font-size: 16px;
  margin: 0;
}
.modal-notice ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

a.dropdown-item{
  cursor: pointer;
}

/***********************************
Horoscope  starts
**************************************/
.mid-title{
  margin-top: 20px;
}
.mid-title h3{
  font-weight: normal;
  font-size: 20px;
  padding: 8px;
  background: #eee;
}

.input-group-append a{
  cursor: pointer;
  font-size: 20px;
}
.input-group-append a:hover{
  color: #333;
}

.highlight{
  background:rgb(237, 247, 97);
  padding: 8px;
}

.input-group-append a {
  cursor: pointer;
  font-size: 20px;
  background: #eee;
  padding: 20px;
  margin-right: 15px;
  border-radius: 50%;
}
.input-group-append a:hover{
  background: #ddd;
}

.selected_date{
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  background: rgb(252, 250, 154);
  margin-left: 10px;
}