<!-- Create Role Modal -->
<div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="editRoleForm" (ngSubmit)="editRole()">
        <div class="modal-header">
          <h5 class="modal-title" id="editRoleModalLabel">Edit Role</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="submitted" class="submitted">
            <div
              class="alert text-center"
              [ngClass]="submitted_success ? 'alert-success' : 'alert-danger'"
              role="alert"
            >
              <p>
                {{ submitted_msg }}
              </p>
            </div>
          </div>
        <div class="modal-body">
          
            <div class="row">
                <div class="col">
                    <label>Change Role Name</label>
                  <div class="form-group">
                    
                    <input
                      id="roleName"
                      type="text"
                      class="form-control"
                      name="roleName"
                      placeholder="Role Name"
                      formControlName="roleName"
                    />
                    <small
                      *ngIf="roleName && roleName.invalid && roleName.touched"
                      class="err_msg"
                    >
                      Please enter valid password.
                    </small>
                  </div>
                </div>
                
              </div>
              <!--.row ends-->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="editRoleForm.invalid">Update</button>
        </div>
        </form>
      </div>
    </div>
  </div>
